<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diary"
        tools:targetApi="31">
        <receiver android:name=".Control.Notification.NotificationPublisher" />
        <activity
            android:name=".View.Activity.SettingActivity"
            android:exported="true"
            android:label="@string/title_activity_lock_app"
            android:theme="@style/Theme.Diary.NoActionBar" />
        <activity
            android:name=".View.Activity.TemplateActivity"
            android:exported="true"
            android:label="@string/title_activity_lock_app"
            android:theme="@style/Theme.Diary.NoActionBar" />
        <activity
            android:name=".View.Activity.ThemeActivity"
            android:exported="true"
            android:label="@string/title_activity_lock_app"
            android:theme="@style/Theme.Diary.NoActionBar" />
        <activity
            android:name=".View.Activity.MineActivity"
            android:exported="true"
            android:label="@string/title_activity_lock_app"
            android:theme="@style/Theme.Diary.NoActionBar" />
        <activity
            android:name=".View.Activity.BackupRestoreActivity"
            android:exported="true"
            android:label="@string/title_activity_lock_app"
            android:theme="@style/Theme.Diary.NoActionBar" />
        <activity
            android:name=".View.Activity.SecurityPasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_lock_app"
            android:theme="@style/Theme.Diary.NoActionBar" />
        <activity
            android:name=".View.Activity.MyLockScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_lock_app"
            android:theme="@style/Theme.Diary.NoActionBar" />
        <activity
            android:name=".LockAppActivity"
            android:exported="false"
            android:label="@string/title_activity_lock_app"
            android:theme="@style/Theme.Diary.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.package.name.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.project.diary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.project.diary.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths2" />
        </provider>

        <activity
            android:name=".View.Activity.LockAppActivity"
            android:exported="true"
            android:theme="@style/Theme.Diary.NoActionBar"
            tools:node="merge" />
        <activity
            android:name=".View.Activity.CanvasActivity"
            android:exported="true"
            android:theme="@style/Theme.Diary.NoActionBar"
            tools:node="merge" />
        <activity
            android:name=".View.Activity.MediaActivity"
            android:exported="true"
            android:theme="@style/Theme.Diary.NoActionBar"
            tools:node="merge" />
        <activity
            android:name=".View.Activity.DiaryActivity"
            android:exported="true"
            android:theme="@style/Theme.Diary.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            tools:node="merge" />
        <activity
            android:name=".View.Activity.CalandarActivity"
            android:exported="true"
            android:theme="@style/Theme.Diary.NoActionBar"
            tools:node="merge" />
        <activity
            android:name=".View.Activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Diary.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>